body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: white;
}
.main{
  display: flex;
  height: 100vh;
}
.sidebar{
  background-color: #000;
  width: 340px;
  border-radius: 1rem;
}
.content{
  background-color: #121212;
  flex:1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;
  margin-top: 0.5rem;
}
.bottom{
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
  border-radius: 1rem;
}
a{
  text-decoration: none;
  color: white;
}
.nav{
  background-color:  #121212 !important;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.option1{
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
.option1 i{
  font-size: 1.25rem;
}
.option1:hover{
  opacity: 1;
}
.option1 a{
  margin: 1rem;
  font-size: 1rem;
}
.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.75rem;
}
.option{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.option2 i{
  font-size: 1.25rem;
}
.option2{
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
.option2:hover{
  opacity: 1;
}
.icons{
  font-size: 1rem;
  display: flex;
}
.icons i{
  opacity: 0.7;
  margin-right: 1rem;

}
.icons i:hover{
  opacity: 1;
}
.box{
  background-color: rgba(128, 128, 128, 0.219);
  height: 8rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
}
.para1{
  font-size: 1rem;
  font-weight: 600;
}
.para2{
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge{
  background-color: white;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  height: 2rem;
  width: fit-content;
}
.box1{
  background-color: rgba(128, 128, 128, 0.219);
  height: 10rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
}
.para3{
  font-size: 1rem;
  font-weight: 600;
}
.para4{
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge{
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  height: 2rem;
  width: fit-content;
}
.snav{
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 0rem 1rem ;
  z-index: 10;
}
.opt{
  font-size: 2rem;
  margin-left: 0.5rem;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}
.badge1{
  cursor: pointer;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  height: 2rem;
  width: fit-content;
}
@media (max-width: 1000px) {
  .hide{
    display: none;
  }
}
.card{
  background-color: rgba(128, 128, 128, 0.147);
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.card-img-top{
  width: 150px;
  border-radius: 0.5rem;
}
.card-title{
  font-weight: 700;
  font-size: 15px;
}
.card-text{
  opacity: 0.8;
  font-size: 0.75rem;
}
.cardcontain{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line{
  width: 90%;
  border-top: 1px solid white;
  opacity: 0.4;
}
.bottom{
  display: flex;
}
.album{
  width: 25%;
}
.player{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control{
  width: 25%;
}
.i1{
  height: 1rem;
  margin: 1.1rem;
  opacity: 0.7;
}
.pc,.pb{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i2{
  height: 1.5rem;
}
.i1:hover{
  opacity: 1;
}
.progress{
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.progress::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 100px;
  height: 0.15rem;
}
.progress::-webkit-slider-thumb{
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px;
}
.album{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  height: 50px;
  width: 50px;
  line-height: 0.5rem;
  margin-right: 1rem;
}
.text{
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
.p1{
  font-size: 15px;
  margin: 0;
}
.p2{
  font-size: 10px;
  margin: 0;
  opacity: 0.8;
}
.ic{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem 1rem;
  gap: 20px;
}
.control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 1rem;
  flex-wrap: nowrap;
  overflow: hidden;
}
.prog{
  width: 40%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.prog::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 100px;
  height: 0.15rem;
}
.prog::-webkit-slider-thumb{
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px;
}
.i{
  display: flex;
  margin: 1rem;
  gap: 10px;
}
.i3{
  display: flex;
  margin-right: 1rem;
  opacity: 0.7;
}
.i4{
  display: flex;
  opacity: 0.7;
}
.i5{
  display: flex;
  opacity: 0.7;
}
.i6{
  display: flex;
  opacity: 0.7;
}
.i7{
  display: flex;
  opacity: 0.7;
}
.i3:hover,.i4:hover,.i5:hover,.i6:hover,.i7:hover{
  opacity: 1;
}